PySide6
scikit-learn
transformers
numpy
datasets
torch
torchvision 
torchaudio   
python-Levenshtein        
sentencepiece
PyPDF2
fuzzywuzzy
pycryptodome
tf-keras
tensorflow
tqdm
accelerate
subprocess
pyinstaller