sys
os
PySide6
sci-learn
transformers
numpy
datasets
pickle
json
torch
torchvision 
torchaudio   
ctypes
re
logging
python-Levenshtein        
sentencepiece
PyPDF2
fuzzywuzzy
PyCryptodome
spacy
tf-keras
tensorflow
tkinter
sqlalchemy 
mutagen
tqdm
