PySide6
scikit-learn
transformers
numpy
datasets
torch
torchvision 
torchaudio   
python-Levenshtein        
sentencepiece
PyPDF2
fuzzywuzzy
pycryptodome
spacy
tf-keras
tensorflow
sqlalchemy 
mutagen
tqdm
